<% if user_signed_in? %>
  <p class='notice-container'><%= notice %></p>
  
  <div class='wrapper'>
    <div class='date-time-container'>
      <%= Time.now.strftime('%d %b %Y %H:%M:%S') %>
    </div>

    <div class='container'>  
     
      <div class='page-top'>
        <h1 class='page-title'>Tasks Due Today</h1>
      </div>
    
      <div class='page-body'>
        <% @tasks_due.each do |task| %>
          <%= render task %>
          <div class='indiv-task'>
            <div class='categ-task-top'>
              <h2 class='categ-title'><%= link_to task.title, category_task_path(task.category, task)%></h2>
              <p <%= task.done ? "class= done-task" : "class= undone-task" %>>
                <%= task.done ? 'Done' : 'Undone' %>
              </p>
            </div>
            <div class='body-task-card'>
              <p class='task-due'>Due Date: <%= task.due_date.strftime("%d %b %Y") %></p>
              <p class='body-task-rows'>Category: <%= link_to task.category.title, category_path(task.category) %></p>
              <p class='body-task-rows'><%= truncate(task.description, length: 90) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class='container'>
      
      <div class='page-top'>
        <h1 class='page-title'>Overdue Tasks</h1>
      </div>

      <div class='page-body'>
        <% current_user.categories.each do |category| %>
          <% category.tasks.select { |task| !task.done && task.due_date < Date.today }.each do |task| %>
            <div class='indiv-task'>
              <div class='categ-task-top'>
                <h2 class='categ-title'><%= link_to task.title, category_task_path(task.category, task) %></h2>
                <p class='undone-task'>Undone</p>
              </div>
              <div class='body-task-card'>
                <p class='task-due'>Due Date: <%= task.due_date.strftime("%d %b %Y") %></p>
                <p class='body-task-rows'>Category: <%= link_to task.category.title, category_path(task.category) %></p>
                <p class='body-task-rows'><%= truncate(task.description, length: 90) %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class='container'>
      
      <div class='page-top'>
        <h1 class='page-title'>Categories</h1>
        <span class='add-btn'><%= link_to "+", new_category_path %></span>
      </div>
     
      <div class='page-body'>
        <% current_user.categories.each do |category| %>
          <%= render category %>
          <div class='indiv-categ'>
            <h2 class='categ-title'><%= link_to(category.title + " (#{category.tasks.count})", category_path(category)) %></h2>
            <p class='categ-description'><%= truncate(category.description, length: 100) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
  <%= link_to 'Sign in', new_user_session_path %> |
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
