<%= form_with(model: [@category, @task]) do |form| %>
  <% if @task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class='form-wrapper'>
    <div class='form-body'>
      <div class='form-input'>
        <%= form.label :title, class: 'form-label' %><br>
        <%= form.text_field :title, class: 'form-field' %>
      </div>

      <div class='form-input'>
        <%= form.label :description, class: 'form-label' %><br>
        <%= form.text_area :description, class: 'form-field text-area' %>
      </div>

      <div class='form-input'>
        <%= form.label :due_date, class: 'form-label' %><br>
        <%= form.date_field :due_date, class: 'form-field' %>
      </div>

      <div class='form-input'>
        <%= form.label :status, class: 'form-label' %><br>
        <div class='radio-options'>
        <%= form.radio_button :done, false, class: 'form-field-radio', checked: !@task.done %> Undone
        <%= form.radio_button :done, true, class: 'form-field-radio', checked: @task.done %> Done
        </div>
      </div>

      <div class='form-input'>
        <%= form.submit class: 'button' %>
      </div>
    </div>

  </div>
<% end %>
