<div class = 'category-wrapper'>
  <p style="color: green"><%= notice %></p>

  <div class='categ-card'>
    <div class = 'categ-card-top'>
      <h1 class='categ-page-title'><%= @category.title %></h1>
    </div>

    <div class='categ-card-body'>
      <div class='categ-desc-container'>
        <p class ='categ-page-desc'><%= @category.description %></p>
      </div>
      <div class = 'button-panel'>
        <%= link_to "EDIT", edit_category_path(@category) %> |
        <%= button_to "DELETE", @category, method: :delete, class:'dlt-button' %>
      </div>
    </div>
  </div>

  <div class='wrapper'>
    <div class='page-top'>
      <h1 class='page-title-task'>Tasks</h1>
      <span class='add-btn'><%= link_to "+", new_category_task_path(@category) %></span>
    </div>

    <div class='page-body'>
    <% @category.tasks.each do |task| %>
       <%= render task %>
        <div class='indiv-task'>
          <div class='categ-task-top'>
            <h2 class='categ-title'><%= link_to task.title, category_task_path(@category, task)%></h2>
            <p <%= task.done ? "class= done-task" :  "class= undone-task" %>>
              <%= task.done ? 'Done' : 'Undone' %>
            </p>
          </div>
          <p class='task-due'>Due Date: <%= task.due_date.strftime("%B %e, %Y") %></p>
          <p class='categ-description'><%= truncate(task.description, length: 90) %></p>
        
      
      </div>
    <% end %>
    </div>
  </div>
</div>

