<p style="color: green"><%= notice %></p>

<div>
  <h1><%= @category.title %></h1>
  <p><%= @category.description %></p>
</div>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>
  <%= button_to "Destroy this category", @category, method: :delete %>
</div>

<div>
  <%= link_to 'View Tasks Under This Category', category_tasks_path(@category) %>
</div>